@model IEnumerable<Asp.Net_MVC.Models.CategoriaProducto>

@{
    ViewBag.Title = "TraerTodoInnerJoinCateProd";
}

<h2>TraerTodoInnerJoinCateProd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Producto)
        </td>
    </tr>
}

</table>
